In [21]:
import pandas as pd
import numpy as np
import glob
import os

In [26]:
original_counters = '../data/counters_interpolated_gaps/'
original_counters_nontemporal_aggregated = '../data/counters_non_temporal_aggregated_data.csv'

toy_counters = '../data/toy_counters/'
toy_counters_nontemporal_aggregated = '../data/toy_counters_non_temporal_aggregated_data.csv'

if not os.path.exists(toy_counters):
    os.mkdir(toy_counters)

columns_to_retain = ["Unnamed: 0","index","Date","Sum","Fast"]

In [25]:
for fname in glob.glob(original_counters + "*.csv"):
    file_name = fname.split("/")[-1]
    counter_data = pd.read_csv(fname)[columns_to_retain]
    noise = np.random.normal(0, 100, size = len(counter_data.index))
    counter_data["Sum"] += noise
    counter_data["Sum"] = np.ceil(np.abs(counter_data["Sum"]))
    noise = np.random.normal(0, 100, size = len(counter_data.index))
    counter_data["Fast"] += noise
    counter_data["Fast"] = np.ceil(np.abs(counter_data["Fast"]))

    counter_data.to_csv(f"{toy_counters}{file_name}", index=False)

In [31]:
columns_to_retain = ["id", "successors"]
df_counters = pd.read_csv(original_counters_nontemporal_aggregated)[columns_to_retain]
df_counters.to_csv(toy_counters_nontemporal_aggregated, index=False)

In [30]:
df_counters

         id                   successors
0    0011-1                0860-1,0803-1
1    0174-2                1010-2,1011-1
2    0178-1  1019-2,1049-2,1017-2,1018-1
3    0178-2                       1017-1
4    0179-2                       0174-2
..      ...                          ...
160  1052-2                       1053-2
161  1053-1                       1052-1
162  1053-2                       1054-2
163  1054-2                0881-2,0841-2
164  1055-1                0887-2,0841-1

[165 rows x 2 columns]